#tournament_bracket{
    display: flex;
    margin: auto;
}

.bracket_round{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 30vh;
    min-width: 15vw;
}

.bracket_match{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}
.bracket_match_round{
    font-size: 0.7rem;
}

.bracket_match_player{

}

.bracket_match_VS{
    color: rgb(255, 131, 78);
}

#round1{
    
}

#round2{
    
}

#round3{
    
}

#round4{
    
}

#round5{
    
}

.bracket_match_state{
    font-size: 0.6rem;
}

.bracket-button-connect{
    background-color: rgb(63, 250, 154);
    padding: 0.12rem 0.5rem;
    border: solid 2px black;
    border-radius: 10px;
    border-color: white;
    color: black;
    text-decoration: none;
}

.bracket-button-connect:hover{
    background-color: rgba(63, 250, 153, 0.644);
    color: whitesmoke;
    transition: 0.4s;
    cursor: pointer;
}

.spectate-btn{
    background-color: rgb(63, 154, 250);
}

.spectate-btn:hover{
    background-color: rgb(63, 154, 250, 0.644);
}


.bracket-tbp{
    color: gray;
}

.bracket-finished{
    color: wheat;
}

/* TOURNAMENT END */

.bracket-result-box{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid white;
    border-radius: 15px;
    padding: 1rem 2rem;
    width: 20vw;
}

.bracket-result-list{
    padding: 0 0.5rem;
    font-size: 1.3rem;
}

.bracket-result-list li{
    margin: 1rem 0.5rem;
    font-size: 1.3rem;
    justify-content: space-between;
}

.bracket-result-box hr{
    width: 90%;
}

.bracket-result-list li:nth-child(1) {
    color: #fac355;
    font-size: 1.5rem;
    font-weight: bold;
}

.bracket-result-list li:nth-child(2) {
    color: #bfbfbf;
}

.bracket-result-list li:nth-child(3) {
    color: #9e6900;
}




.bracket-result-box-button{
    margin-top: 10px;
    background-color: rgb(255, 114, 114);
    padding: 0.12rem 0.5rem;
    border: solid 2px black;
    border-radius: 10px;
    border-color: white;
    color: black;
    text-decoration: none;
}

.bracket-result-box-button:hover{
    background-color: rgba(250, 63, 63, 0.644);
    color: whitesmoke;
    transition: 0.4s;
    cursor: pointer;
}