.other_msg {
    background-color:gray;
    color:white;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    max-width:80%;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.my_msg {
    background-color:cadetblue;
    color:white;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: 10px;
    max-width:80%;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.discu
{
    background-color: transparent;
    width:100%;
    border-width: 0px;
    display:inline-flex
}

.discu:hover
{
  background-color: rgb(70, 70, 70);
  transition: 0.3s;
}

.discu_selected
{
    background-color: rgb(85,85,85);
    width:100%;
    border-width: 0px;
    display:inline-flex
}

.pp 
{
  clip-path: ellipse(50% 50%);
  height:4vw;
  max-height: 80px;
}


.all_discu_panel
{
  width:25%;
  height: 100%;
  background-color: rgb(61, 61, 61);
  overflow:hidden;
}

.chat_panel
{
  width:75%;
  height: 100%;
  background-color: rgb(61, 61, 61);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  padding:20px;
}
  
::-webkit-scrollbar-thumb {
  background: grey;
  width:5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100,100,100); 
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#505050 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#505050);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.to_bot_btn {
  position: sticky;
  bottom: 10px;
  left: 10px;
  width: 40px;
  aspect-ratio: 1;
  z-index: 1000;
  background-color: rgb(61,61,61);
  color: white;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.7;
}

.selected_tab {
  background-color: rgb(81,81,81);
}

.notif_tab {
  clip-path: ellipse(50% 50%);
  background-color: red;
  color: white;
  height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

.notif {
  height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

#add_btn{
  padding: 0.3rem;
  border: solid 2px;
  border-radius: 15px;
  border-color: white;
  color: white;
  text-decoration: none;
  background-color: transparent;
}

#add_btn:hover
{
  background-color: white;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

#interlocutor{
  margin: 0 0 0 20px;
}

.interlocutor-name{
  margin: 0 0 0 20px;
}

.interlocutor-name:hover{
  text-decoration: underline;
}

.send_button{
  padding: 0.4rem;
  border: solid 1px;
  border-radius: 0 30px 30px 0;
  border-color: white;
  color: white;
  text-decoration: none;
  background-color: rgb(153, 46, 252);
}

.send_button:hover{
  background-color: rgb(200, 141, 255);
  transition: 0.3s;
}

#invite{
  display: flex;
}

.invite_to{
  display:flex;
  align-items: center;
  margin: 0.6rem 1rem;
  background-color: rgb(153, 46, 252);
  padding: 0.2rem 0.8rem;
}

.invite_to:hover{
  background-color: rgb(200, 141, 255);
  transition: 0.3s;
}

#mini_interlocutor
{
  color: white;
}

#mini_chat
{
  max-width: 30vw;
}