.game_zone {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.game-row {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between the boxes */
    width: 100%;
    justify-content: center;
}

.chessBox {
    width: 800px; /* Or your desired width */
    height: 800px; /* Or your desired height */
    position: relative;
    border: 2px solid;
    flex-shrink: 0; /* Prevents the chess board from shrinking */
}

.side-box {
    width: 100px; /* Or your desired width */
    height: 800px; /* Same height as chessBox */
	background:rgba(50, 50, 50, 0.7);
}

.PlayerName {
    font-size: 30px;
}

.cell {
    width: min(8vh, 10vw);
    height: min(8vh, 10vw);
    position: relative;
}

.promotion_cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.winner_endgame img {
    height:8vw;
    max-height:100px;
}

.winner_endgame #name {
    font-size: xx-large;
}

.winner_endgame #rank {
    font-size: large;
}

.loser_endgame img {
    opacity:0.5;
}

.loser_endgame #name {
    opacity:0.5;
    font-size: x-large;
}

.loser_endgame #rank {
    opacity:0.5;
    font-size: large;
}