.passwordContainer {
    display: grid;
    grid: auto / auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.passwordContainer label {
    text-align: end;
    align-content: center;
}

.passwordContainer input {
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
    padding:5px;
}

.passwordContainer input:focus {
    background-color: rgb(100, 100, 100);
    box-shadow: 0 0 .2rem white,
    0 0 1.5rem white,
    0 0 0.8rem white;
}

.passwordContainer label:has(+input:focus) {
    text-shadow: 0 0 .2rem white,
    0 0 1.5rem white,
    0 0 0.8rem white;
}

.passwordContainer input.error:focus {
    background-color: rgb(100, 100, 100);
    box-shadow: 0 0 .2rem red,
    0 0 1.5rem red,
    0 0 0.8rem red;
}

.passwordContainer label:has(+input.error) {
    text-shadow: 0 0 .2rem red,
    0 0 1.5rem red,
    0 0 0.8rem red;
}

.passwordContainer label:has(+input.error:focus) {
    text-shadow: 0 0 .2rem red,
    0 0 1.5rem red,
    0 0 0.8rem red;
}

input.error {
    box-shadow: 0 0 .2rem red,
    0 0 1.5rem red,
    0 0 0.8rem red;
}

.passwordBox
{
    margin-top: 15rem;
    position: center;
    align-self: center;
    background:rgba(50, 50, 50, 0.9);
    display:flex;
    height:auto;
    width: auto;
    justify-content: space-evenly;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #282828,
    0 0 0.8rem #282828,
    0 0 2.8rem #282828,
    inset 0 0 1.3rem #282828;
}