*{
    margin: 0;
    padding: 0;
}


.header {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.scoreboard {
    font-size: 2em;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.score {
    background-color: #282828;
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFF;
}

.key
{
    border : 5px solid red;
    border-radius: 10%;
    color : red;
    width:100px;
    height:100px;
    text-align: center;
    align-content: center;
}

.pressed
{
    border : 5px solid white;
    background-color: red;
    border-radius: 10%;
    color : white;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff;
    width:100px;
    height:100px;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 .2rem #fff,
                0 0 2rem red,
                0 0 0.8rem red,
                inset 0 0 1.3rem #fff;
}

.buttongroup{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.playButton {
    font-size: 1.5em;
    padding: 10px 20px;
    width: 10rem;
    background-color: #FF5E5E;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.playButton:hover {
    background-color: rgb(255, 28, 28);
    box-shadow: 0 0 .2rem rgb(198, 96, 96),
    0 0 .2rem rgb(198, 96, 96),
    0 0 2rem rgb(198, 96, 96),
    0 0 0.8rem rgb(198, 96, 96),
    0 0 2.8rem rgb(198, 96, 96),
    inset 0 0 1.3rem rgb(198, 96, 96);
    cursor: pointer;
    transition: 0.4s;
}

#pongCanvas {
    margin-top: 20px;
    /* border: 2px solid #FFF; */
    background-color: #000;
}

.endgame {
    justify-content: space-evenly;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem blue,
    0 0 0.8rem blue,
    0 0 2.8rem blue,
    inset 0 0 1.3rem blue;
}

#endgame_multi_win {
    position: absolute;
    margin: 0 0 0 0;
    padding: 5 0 5 0;
}

#endgame_multi_loss {
    position: absolute;
    margin: 0 0 0 0;
    padding: 5 0 5 0;
}

#endgame_multi_win h3{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgb(0, 255, 102),
      0 0 40px rgb(0, 255, 102),
      0 0 80px rgb(0, 255, 102),
      0 0 90px rgb(0, 255, 102),
      0 0 100px rgb(0, 255, 102),
      0 0 150px rgb(0, 255, 102);
}

#endgame_multi_loss h3{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgb(255, 0, 106),
      0 0 40px rgb(255, 0, 106),
      0 0 80px rgb(255, 0, 106),
      0 0 90px rgb(255, 0, 106),
      0 0 100px rgb(255, 0, 106),
      0 0 150px rgb(255, 0, 106);
}