*{
    margin: 0;
    padding: 0;
}


.header {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.scoreboard {
    font-size: 2em;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.score {
    background-color: #282828;
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFF;
}

.key
{
    border : 5px solid red;
    border-radius: 10%;
    color : red;
    width:100px;
    height:100px;
    text-align: center;
    align-content: center;
}

.pressed
{
    border : 5px solid white;
    background-color: red;
    border-radius: 10%;
    color : white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    width:100px;
    height:100px;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 .2rem #fff,
    0 0 2rem red,
    0 0 0.8rem red,
    inset 0 0 1.3rem #fff;
}
/* Groupe de boutons */
.button-group { 
    /* centrer au milieu de l'écran */
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 100%;
    /* max-width: 1000px;  */
    justify-content: center;
    align-items: center;   
    margin-top: 5%
}

/* Boutons */
.play-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    padding: 40px 30px;
    width: 45%; /* Augmentation de la largeur */
    min-width: 250px;
    height: 500px; /* Hauteur augmentée pour un aspect rectangulaire */
    background-color: #ff5e5e00; /* Couleur de secours si l'image ne se charge pas */
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Images spécifiques pour chaque bouton */
.btn-left::before {
    background-image: url('../srcs/assets/pvp.webp'); /* Remplacez par le chemin de votre image */
}

.btn-right::before {
    background-image: url('../srcs/assets/vs_ai.webp'); /* Remplacez par le chemin de votre image */
}

.play-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.4); /* Filtre noir pour améliorer la lisibilité du texte */
    transition: filter 0.3s;
    z-index: 0;
}

/* Texte au-dessus de l'image */
.play-button > span {
    position: relative;
    z-index: 1;
}

/* Effet de survol */
.play-button:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.play-button:hover::before {
    transform: scale(1.2);
    filter: brightness(0.6); /* Ajustement du filtre au survol */
}

.play-button:hover::after {
    transform: scale(1); /* Zoom de l'image de fond */
}

/* Effet de clic */
.play-button:active {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.play-button::before {
    transition: transform 0.7s ease-in-out, filter 0.7s ease-in-out;
}

.play-button::after {
    transition: transform 0.7s ease-in-out;
}

.rematchButton {
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 20px;
    width: 10rem;
    background-color: #FF5E5E;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.rematchButton:hover {
    background-color: rgb(255, 28, 28);
    box-shadow: 0 0 .2rem rgb(198, 96, 96),
    0 0 .2rem rgb(198, 96, 96),
    0 0 2rem rgb(198, 96, 96),
    0 0 0.8rem rgb(198, 96, 96),
    0 0 2.8rem rgb(198, 96, 96),
    inset 0 0 1.3rem rgb(198, 96, 96);
    cursor: pointer;
    transition: 0.4s;
}

#pongCanvas {
    margin-top: 20px;
    /* border: 2px solid #FFF; */
    background-color: #000;
}

.endgame {
    justify-content: space-evenly;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem blue,
    0 0 0.8rem blue,
    0 0 2.8rem blue,
    inset 0 0 1.3rem blue;
}

#endgame_multi_win {
    position: absolute;
    margin: 0 0 0 0;
    padding: 5 0 5 0;
}

#endgame_multi_loss {
    position: absolute;
    margin: 0 0 0 0;
    padding: 5 0 5 0;
}

#endgame_multi_win h3{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgb(0, 255, 102),
      0 0 40px rgb(0, 255, 102),
      0 0 80px rgb(0, 255, 102),
      0 0 90px rgb(0, 255, 102),
      0 0 100px rgb(0, 255, 102),
      0 0 150px rgb(0, 255, 102);
}

#endgame_multi_loss h3{
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgb(255, 0, 106),
      0 0 40px rgb(255, 0, 106),
      0 0 80px rgb(255, 0, 106),
      0 0 90px rgb(255, 0, 106),
      0 0 100px rgb(255, 0, 106),
      0 0 150px rgb(255, 0, 106);
}

.chess_endgame {
    justify-content: space-evenly;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #282828,
    0 0 0.8rem #282828,
    0 0 2.8rem #282828,
    inset 0 0 1.3rem #282828;
}