body {
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-y: scroll;
}

.chooseMode {
    border: 1px solid black;
    height: 30vh;
    width:20vw;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(61,61,61);  
}

.chooseMode:hover {
    background-color: rgb(100,100,100);
    cursor: pointer;
}

.chooseGame:hover {
    cursor: pointer;
}