html, body {
    height:100%;
    width:100%
}

body {
    padding-left: 5vw;
    padding-right: 5vw;
    overflow-y: scroll;
    overflow: overlay;
    display: flex;
    flex-direction: column;
}

#page {
    flex: 1;  /* This will make it take remaining space */

    display: flex;
    flex-direction: column;
}

.gameChoose-header{
    margin-top: 2rem;
}

.chooseGame {
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
    margin-top: 3vh;
    padding: 3rem 5rem 3rem 5rem;
}

.chooseGame a{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    font-weight: 900;
}

.chooseGame p{
    margin: 0;
    padding: 0;
    font-size: 10rem;
    font-weight: 900;
}

.chooseGame:hover{
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem white,
    0 0 0.8rem white,
    0 0 2.8rem white,
    inset 0 0 1.3rem white;
    cursor: pointer;
    transition: 0.4s;
}

#choosePong:hover{
    background-color: rgb(153, 46, 252);
}
#chooseChess:hover{
    background-color: rgb(252, 149, 46);
}

.chooseMode {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
    margin: 3rem;
    width: 100%;
    height: 100%;
    padding: 3rem 5rem 3rem 5rem;
}

.chooseMode:hover {
    background-color: rgb(98, 98, 98);
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem white,
    0 0 0.8rem white,
    0 0 2.8rem white,
    inset 0 0 1.3rem white;
    cursor: pointer;
    transition: 0.4s;
}

.chesschooseMode{
    padding: 8rem 5rem 8rem 5rem;
}

.pp_game {
    border-radius: 10%;
	height:6vw;
	max-height: 80px;
    aspect-ratio: 1;
}

.registration_submit{
    width: 35%;
    margin: 5px auto 0 auto;
    background-color: rgb(50, 50, 50);
    padding: 0.5rem 1.5rem;
    border: solid 3px;
    border-radius: 15px;
    border-color: white;
    color: white;
    text-decoration: none;
}

.registration_submit:hover
{
    background-color: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.registerform{
    background-color: rgb(96, 96, 96);
    margin: auto;
    width: 25vw;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 0 20px 0;
}

.registerform span{
    margin: 5px auto 5px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.registerform span:last-of-type{
    margin-bottom: 1rem;
}

.change_password_button{
    margin: 5px auto 30px auto;
    background-color: rgb(50, 50, 50);
    padding: 0.5rem 1.5rem;
    border: solid 3px;
    border-radius: 15px;
    border-color: white;
    color: #ffbaba;
    text-decoration: none;
}

.change_password_button:hover
{
    background-color: #ffbaba;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.update-pro span:last-of-type label:nth-of-type(2),
.update-pro span:last-of-type input:nth-of-type(1),
.update-pro span:last-of-type br{
    display: none;
}

.login_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_buttons a,
.login_buttons input{
    color: white;
    text-decoration: none;

    background-color: rgb(50, 50, 50);
    padding: 0.5rem 1.5rem;
    border: solid 3px;
    border-radius: 15px;
    border-color: white;
    text-decoration: none;
}

.login_buttons a:hover{
    background-color: #fc952e;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 .2rem #fc952e,
    0 0 .2rem #fc952e,
    0 0 2rem #fc952e,
    0 0 0.8rem #fc952e,
    0 0 2.8rem #fc952e,
    inset 0 0 1.3rem #fc952e;
}

.login_buttons input:hover{
    background-color: #992efc;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 .2rem #992efc,
    0 0 .2rem #992efc,
    0 0 2rem #992efc,
    0 0 0.8rem #992efc,
    0 0 2.8rem #992efc,
    inset 0 0 1.3rem #992efc;
}

#content-loader.test-indicator {
    z-index:-1;
    opacity: 0;
    position: absolute;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#content-loader.test-indicator.htmx-request {
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s 0.2s;
}

#page.test-indicator.htmx-request {
    opacity: 0;
    transition: opacity 0s 0.2s;
}