.tournament-list-line
{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px 15px 10px;
    align-items: center;
}

.tournament-list-state
{
    min-width: 10vw;
    display: flex;
    justify-content: center;
}

span.tournament-list-state
{
    padding: 0.5rem 1.5rem;
}

.tournament-list-refresh
{
    padding: 0.5rem 1.5rem;
    border: solid 3px;
    border-radius: 15px;
    border-color: white;
    color: white;
    text-decoration: none;
}
.tournament-list-refresh:hover
{
    background-color: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.creation-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 3px;
    border-radius: 15px;
    border-color: white;
}

.pong_emote
{
    font-size: 10rem;
}

#max_player_value
{
    color: rgb(255, 53, 53);
}

#create_name_input{
    border:none;
    outline:none;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    border-radius:22px;
    height: 35px;
    box-sizing:border-box;
    padding:0 18px; 
}

.creation-form input
{
    margin: 10px;
    accent-color: rgb(255, 53, 53);
}

.creation-form button
{
    margin: 10px;
    padding: 0.3rem 0.7rem;
    background-color: black;
    border: solid 3px;
    border-radius: 15px;
    border-color: white;
    color: white;
}

.creation-form button:hover
{
    background-color: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}












.button-custom {
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);
  
    /* change this rotation value */
    filter: hue-rotate(0deg);
  
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: radial-gradient(
        circle,
        var(--main-bg-color) 0%,
        rgba(0, 0, 0, 0) 95%
      ),
      linear-gradient(var(--pattern-color) 1px, transparent 1px),
      linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
    background-size:
      cover,
      15px 15px,
      15px 15px;
    background-position:
      center center,
      center center,
      center center;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      1;
    border-width: 1px 0 1px 0;
    color: var(--main-color);
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    font-size: 15px;
    transition: background-size 0.3s ease-in-out;
  }
  
  .button-custom:hover {
    --main-color: rgb(213, 199, 46);
    --main-bg-color: rgba(213, 199, 46, 0.459);
    --pattern-color: rgba(213, 199, 46, 0.073);

    background-size:
    cover,
    10px 10px,
    10px 10px;

    transition: 0.3s;
  }
  .button-custom:active {
    filter: hue-rotate(250deg);
  }