{% load static %}
<div>
    <h1>Chat</h1>

    <div class="d-flex flex-row" style="height:50vh">
        <div class="d-flex flex-column rounded w-25 bg-secondary bg-gradient mx-2 p-2">
            <div class="d-flex flex-row justify-content-between">
                <div class="align-self-center" id="txt_discu">all discussions</div>
                <button class="d-inline" id="add_btn" style="right:0" onclick="display_addable_discussion()">ADD +</button>
            </div>
            <div id="all_discussion">
                {% for discu in all_discussion %}
                <form hx-post="{{request.path}}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
                    {% csrf_token %}
                    <input type="hidden" name="change_discussion" value="{{discu.id}}"/>
                    <input class="my-1 p-2 bg-darkgray" style="width:100%" type="submit" value="{{discu.name_discu}}">
                </form>
                {% endfor %}
            </div>
            <div hidden id="all_addable">
                {% for usr in all_user %}
                    {% if usr.username != request.user.username %}
                    <form hx-post="{{request.path}}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
                        {% csrf_token %}
                        <input type="hidden" name="add_discussion" value="{{usr.username}}"/>
                        <input class="my-1 p-2 bg-darkgray" style="width:100%" type="submit" value="{{usr.username}}">
                    </form>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <div style="position:relative" class="d-flex flex-column rounded w-75 bg-secondary bg-gradient mx-2 p-2">
            <p class="fs-1" id="interlocutor">{{interlocutor}}</p>
            <div class="d-flex flex-column my-1 rounded" id="all_msg" style="overflow-y:scroll; background-color: darkgray;height:100%; position: relative;">
                {% for msg in all_message %}
                    {% if msg.sender.id == request.user.id %}
                        <div class="my_msg" style="white-space: pre-line;overflow-wrap: break-word">{{msg.message}}</div>
                    {% else %}
                        <div class="other_msg" style="white-space: pre-line;overflow-wrap: break-word">{{msg.message}}</div>
                    {% endif  %}
                {% endfor %}
            </div>
            <script>
                var objDiv = document.getElementById("all_msg");
                objDiv.scrollTop = objDiv.scrollHeight;
            </script>
            <form class="d-flex flex-row" id="form_message" hx-post="{{request.path}}" hx-swap="none">
                {% csrf_token %}
                <input type="hidden" name="send_to" value="{{ interlocutor }}"/>
                <input type="hidden" name="sender" value="{{ request.user.username }}"/>
                <input type="hidden" name="discu_id" value="{{current_discu.id}}"/>
                <input style="flex-grow:1" type="text" name="msg" value="" autofocus="autofocus" autocomplete="off"/>
                <input type="submit" value="SEND">
            </form>
            <script>custom_submit()</script>
        </div>
    </div>
</div>