{% load static %}
<div class="container">
    <div class="gameChoose-header">
		<h1 class="header">CHOOSE THE CHESS GAME MODE</h1>
		<h5 class="header">♟️</h5>
	</div>
    <hr>

    <div class="d-flex flex-row justify-content-around">
        <div class="chesschooseMode chooseMode" hx-get="{% url 'chess_local' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
            <h1>Local Game</h1>
            <h1>🕹️</h1>
        </div>
        <div class="chesschooseMode chooseMode" hx-get="{% url 'chess_found_game' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
            <h1>Ranked Game</h1>
            <h1>🏅</h1>
        </div>
    </div>
</div>