{% load static %}

<div class="container">

	<div class="justify-content-around d-flex text-center">
		<br><br>
		<div class="d-block">
			<h1>🏓</h1>
			<a hx-get="{% url 'pong' %}" 
			hx-push-url="true" 
			hx-target="#page" 
			hx-swap="innerHTML" 
			hx-indicator="#content-loader" 
			class="route col-sm">PONG</a>
		</div>
		<div class="d-block">
			<h1>♟️</h1>
			<a hx-get="{% url 'chess' %}" 
			hx-push-url="true" 
			hx-target="#page" 
			hx-swap="innerHTML" 
			hx-indicator="#content-loader" 
			class="route col-sm">CHESS</a>
		</div>
		<br><br>
	</div>
	<hr>

	{% if user.tournament_id != -1 %}
	<div>
		<h4>ACTUAL TOURNAMENT</h4>
		<p>finish this tournament before join or create others</p>
		<button>LEAVE</button>
	</div>
	{% else %}
	<div>
		<h4>TOURNAMENT LIST</h4>
		{% if all_tournaments %}
			{% for tournament in all_tournaments %}
			<div>
				<h8>{{ tournament.host_user }}'s tournament</h8>
				<span>{{ tournament.participants.count }}/{{ tournament.max_users }}</span>
				{% if tournament.game_played == "PONG" %}
					<span>🏓</span>
				{% elif tournament.game_played == "CHESS" %}
					<span>♟️</span>
				{% endif %}
				{% if user not in tournament.participants.all %}
					<form method="POST" hx-post="{{ request.path }}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
						{% csrf_token %}
						<button type="submit" name="join_tournament" value="{{ tournament.id }}">JOIN</button>
					</form>
				{% endif %}
			</div>
			{% endfor %}
		{% else %}
			<p>No tournament here yet.</p>
		{% endif %}
		<hr>
		<h5>HOST TOURNAMENT</h5>
		<div class="bg-info justify-content-center d-flex">
			<form method="POST" hx-post="{{ request.path }}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
				{% csrf_token %}
				<fieldset>
					<input type="radio" name="crea-game" value="PONG" checked>🏓</input>
					<input type="radio" name="crea-game" value="CHESS">♟️</input>
				</fieldset>
				<input type="range" name="group-size" min="4" max="32" step="2" value="16">
				<input name="create_tournament" type="submit" value="CREATE">
			</form>
		</div>
	</div>
	{% endif %}

</div>