{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcendence</title>
    <!-- BOOTSTRAP IMPORT -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'stylesheets/nav.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/game.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/chat.css' %}">
	<link rel="stylesheet" href="{% static 'stylesheets/profiles.css' %}">
	<!-- FONT -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <!-- HTMX IMPORT FOR SPA-->
    <script src="https://unpkg.com/htmx.org@1.2.1"></script>
	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="{% static 'chat.js' %}"></script>
    <script src="{% static 'ws.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    {% if user.is_authenticated %}
        <script>create_ws()</script>
    {% endif %}
</head>

<body>
    <div>
        <nav>
            <a hx-get="{% url 'home' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" class="route col-sm" id="nav1">Home</a>
            <a hx-get="{% url 'game' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" class="route col-sm" id="nav2">Game</a>
            <a hx-get="{% url 'chat' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" class="route col-sm" id="nav2">Chat</a>
            <a hx-get="{% url 'myprofile' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" class="route col-sm" id="nav3">Profile</a>
        </nav>
    </div>
    <div id="page">{% block content %}{% endblock %}</div>

	<script src="{% static 'profile.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
	<script src="{% static 'pong.js' %}"></script>
</body>
</html>