{% load static %}

<div class="d-flex align-items-center justify-content-center" style="background-color:red; height:100%">
    <canvas class="w-100 h-100 m-0" id="pongCanvas" height="100" style="position:absolute; top:0; background-color:rgba(50, 50, 50)"></canvas>
    <div id="viewForm" style="position:absolute; background:rgba(50, 50, 50, 0.9); display:flex; height:fit-content; max-width: 500px; width: 30%;" class="px-5 py-4 z-3 chess_endgame flex-column border border-secondary rounded">
        {% include viewForm %}
    </div>
</div>


<script>
{% if error %}
    error = "{{ error }}"
    console.log(error)
    if (error == "password") {
        error_message("Mot de passe incorrect", 5000)
        document.getElementById("id_password").classList.add("error")
        document.getElementById("id_password").addEventListener('input', function() {
            document.getElementById("id_password").classList.remove("error")
        });
    }
    else if (error == "username") {
        error_message("Nom d'utilisateur inconnu", 5000)
        document.getElementById("id_username").classList.add("error")
        document.getElementById("id_username").addEventListener('input', function() {
            document.getElementById("id_username").classList.remove("error")
        });
        document.getElementById("id_username").focus()
    }
{% endif %}
{% if messages %}
    {% for message in messages %}
        error_message("{{ message }}", 4000)
    {% endfor %}
{% endif %}
</script>

<script>
    display3D(false)

    pivotPoint = new THREE.Object3D();
    pivotPoint.position.set(arenaLength/2, arenaWidth/2, 0);
    pivotPoint.add(group);
    group.position.sub(new THREE.Vector3(arenaLength/2, arenaWidth/2, 0));
    scene.add(pivotPoint);
    /*launch calculball*/

    if (gameInterval) 
        clearInterval(gameInterval);
    if (paddleInterval) 
        clearInterval(paddleInterval);

    gameInterval = setInterval(calculBall_animation, 10);
    paddleInterval = setInterval(movePaddle, 10);
    cam_animation()

    window.addEventListener('resize', function() {
        pongCanvas = document.getElementById('pongCanvas');
        if (!pongCanvas) 
            return;
        console.log('resize');
        /*camera.aspect = window.innerWidth / window.innerHeight;*/
        camera.aspect = pongCanvas.clientWidth / pongCanvas.clientHeight;
        camera.updateProjectionMatrix();
    });
</script>