<div class="container">
    <h1>My Profile</h1>
    <br>
	<a class="d-block text-center" hx-get="{{ user.username }}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">See my profile page</a>
	<br>
	<div class="row">
		<div class="profile_pp col-4">
			<img src="{{ user.profile_picture.url }}" alt="Profile Picture">
		</div>
		<div class="col-6 d-table">
			<div class="d-table-cell align-middle pl-5">
				<div>
					<h6>Pseudo :</h6>
					<h4>{{ user.username }}</h4>
				</div>
				<div>
					<h6>Name :</h6>
					<h4>{{ user.first_name }} {{ user.last_name }}</h4>
				</div>
			</div>
		</div>
	</div>
	
	<h6>Mail :</h6>
    <h4>{{ user.email }}</h4>
	
	<h6>Joined :</h6>
    <h4>{{ user.date_joined }}</h4>
	<br>
	<a class="d-block text-center" hx-get="{% url 'update-profile' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">Update</a>

</div>