{% if user.is_authenticated and not refresh %}
	<script>
		login('{{csrf_token}}')
	</script>
{% endif %}

<div class="container">
	{% include 'messages.html' %}
	{% if user.is_authenticated %}

	<div class="d-flex justify-content-between">
		<h1>My Profile</h1>
		<a class="d-block text-center tournament-list-refresh" hx-get="{{ user.username }}/" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">See my profile page</a>
	</div>
	<br>
	<div class="text-center">
		<div class="myprofile_pp">
			<img src="{{ user.profile_picture.url }}" alt="Profile Picture">
		</div>
		<h4>{{ user.username }}</h4>
	</div>
	<div class="d-flex justify-content-evenly">
		<div>
			<h6>Mail :</h6>
			<span>{{ user.email }}</span>
		</div>
		<div>
			<h6>Joined :</h6>
			<span>{{ user.date_joined|date:"d M Y" }}</span>
		</div>
	</div>
	<br>
	<div id="friend_div">
		<div>
			<h4>FRIEND REQUESTS</h4>
			{% if all_friend_requests %}
			{% for friend_request in all_friend_requests %}
				<h5><a 	hx-get="{% url 'profile' friend_request.from_user.username %}" 
						hx-push-url="true" 
						hx-target="#page" 
						hx-swap="innerHTML" 
						hx-indicator="#content-loader" 
						class="route clic_to_profile">{{ friend_request.from_user.username }}</a>
					 - 
					<a hx-get="{% url 'accept_friend_request' friend_request.id %}" 
					   hx-push-url="true" 
					   hx-target="#page" 
					   hx-swap="innerHTML" 
					   hx-indicator="#content-loader" 
					   class="route text-success accept_button">ACCEPT</a>
					</h5>
				{% endfor %}
			{% else %}
				<p>No friend requests.</p>
			{% endif %}
			</div>
			<hr>
		<div>
			<h4>FRIENDS LIST</h4>
			{% for friend in user.friends.all %}
				<li>{% if friend.state == 'ON' %}
					<span class="text-success">ONLINE</span>
					{% elif friend.state == 'OFF' %}
					<span class="text-danger">OFFLINE</span>
					{% elif friend.state == 'ING' %}
					<span class="text-primary">IN-GAME</span>
					{% endif %}
					<span> - </span>
					<a 	hx-get="{% url 'profile' friend.username %}" 
						hx-push-url="true" 
						hx-target="#page" 
						hx-swap="innerHTML" 
						hx-indicator="#content-loader" 
						class="route clic_to_profile">{{ friend.username }}</a>
				</li>
			{% empty %}
				<li>You have no friends yet.</li>
			{% endfor %}
		</div>
	</div>
	<br>
	<div class="d-flex justify-content-evenly">
		<a class="d-block text-center tournament-list-refresh" hx-get="{% url 'update-profile' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">Update my account</a>
		<a class="d-block text-center text-danger tournament-list-refresh" hx-get="{% url 'logout' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">LOGOUT</a>
	</div>

	{% else %}
	
    <h1>SIGN-IN</h1>

    <form hx-post="{{request.path}}?next={{next_url}}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="LOG IN">
    </form>
    <p> or <a hx-get="{% url 'register' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" title="Register">Register</a></p>
 
	{% endif %}
</div>