<div class="container">

    <div class="container">
        <h1 class="header">ULTIMATE EXTRA COOL SUPER PONG TOURNAMENT EXTREME BATTLE</h1>
        <h5 class="header">Welcome in the history</h5>

        <div style="position: relative;" class="d-flex align-items-center justify-content-center">
            <div id="endgame_multi_win"></div>
            <canvas class="w-100" id="pongCanvas" width="780" height="480"></canvas>
            <div id="endgame_multi_loss"></div>
        </div>

        <div id="pongmulti_playerlist" class="d-flex justify-content-evenly"></div>
        <div class="d-flex justify-content-center mt-3" id="rematch-button"></div>

        <script>
            connectMultiGame({id:{{data.gameID}}, nbPlayers:{{data.nbPlayers}}, ingameID:{{data.ingameID}}}, "{{request.user.username}}")
        </script>
    </div>
{% if request.user in game.playerlist.all %}
    <script>
        console.log("[LOG PONG MULTI] You are in the game")
        url = '/game/pong/multiplayer/' + {{ game.id }} + '/';
        {% if game.status == 'finish' %}
            change_game_headbar('Game', "/game/");
        {% else %}
            change_game_headbar('👥in game...', url);
        {% endif %}
    </script>
{% endif %}
</div>