{% if messages %}
    {% for message in messages %}
    <script>
        error_message("{{ message }}", 3000)
    </script>
    {% endfor %}
{% endif %}
<div class="container">
    <div class="gameChoose-header">
		<h1 class="header">CHOOSE THE PONG GAME MODE</h1>
		<h5 class="header">🏓</h5>
	</div>
    <hr>
    <div class="d-flex flex-row justify-content-around">
        <div class="chooseMode" hx-get="{% url 'pong_local' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
            <h1>Local Game</h1>
            <h1>🕹️</h1>
        </div>
        <div class="chooseMode" hx-get="{% url 'pong_found_game' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
            <h1>Ranked Game</h1>
            <h1>🏅</h1>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around">
        <div class="chooseMode" hx-get="{% url 'pong_multi_found' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
            <h1>Multiplayer</h1>
            <h1>👥</h1>
        </div>
        <div class="chooseMode" hx-get="{% url 'pong_tournament' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
            <h1>Tournament</h1>
            <h1>🏆</h1>
        </div>
    </div>
</div>