{% load static %}


<div class="container">
	<h1 class="header">ULTIMATE EXTRA COOL SUPER PONG TOURNAMENT EXTREME BATTLE</h1>
	<h5 class="header">Welcome in the history</h5>
	
	<!-- Affichage des scores -->
	<div class="scoreboard">
		<div id="playerScore" class="score">Player: 0</div>
		<div id="opponentScore" class="score">Opponent: 0</div>
	</div>
	
	<!-- Bouton pour démarrer le jeu -->
	<div id="playButton" class="text-center mt-4">
		<button onclick="startGame()" class="playButton">JOUER</button>
		<button onclick="startIAGame()" class="playButton">vs IA</button>
	</div>

	<!-- Canevas du jeu, masqué par défaut -->
	<div class="main-box w-100 align-items-center" style="display: none" id="gameContainer">
		<div style="z-index:1000">
			<h1 class="key" id="keyw">w</h1>
			<h1 class="key" id="keys">s</h1>
		</div>
		<canvas class="w-100" id="pongCanvas" width="780" height="480"></canvas>
		<div id="opponentController">
			<h1 class="key" id="keyup">🠕</h1>
			<h1 class="key" id="keydown">🠗</h1>
		</div>
	</div>

	<script>
		
	</script>
</div>