{% load static %}


<div class="container">
	<h1 class="header">ULTIMATE EXTRA COOL SUPER PONG TOURNAMENT EXTREME BATTLE</h1>
	<h5 class="header">Welcome in the history</h5>
	
	 <!-- Groupe de boutons côte à côte -->
	 <div id="playButtonGroup" class="button-group">
		<a href="{% url 'pong_local_game' %}" class="play-button btn-left" aria-label="Jouer au Pong">
			<span>JOUER</span>
		</a>
		<a href="{% url 'pong_ai_game' %}" class="play-button btn-right" aria-label="Jouer contre l'IA">
			<span>VS IA</span>
		</a>
	</div>

	<script>
		
	</script>
</div>