<div class="container">

    <div class="container">
        <h1 class="header">ULTIMATE EXTRA COOL SUPER PONG TOURNAMENT EXTREME BATTLE</h1>
        <h5 class="header">Welcome in the history</h5>

        <div id="endgame_multi_win"></div>
        <canvas class="w-100" id="pongCanvas" width="780" height="480"></canvas>
        <div id="endgame_multi_loss"></div>

        <div id="pongmulti_playerlist" class="d-flex justify-content-evenly"></div>
        <div>
            <h3>GAME ID: {{game.id}}</h3>
        </div>

        <script>
            startMultiGame()
        </script>
    </div>

</div>