<div class="container">
    <h1>Profile Page</h1>
    <br>
    <img src="{{ user.profile_picture }}" alt="Profile Picture">
    <h6>Pseudo :</h6>
    <p>{{ user.username }}</p>

    <h6>First name :</h6>
    <p>{{ user.first_name }}</p>

    <h6>Second name :</h6>
    <p>{{ user.last_name }}</p>

    <h6>Last Connexion :</h6>
    <p>{{ user.last_login }}</p>

    <div>
        <h3>PONG</h3>
        <br>
        <p>Rank</p>
        <p>{{ user.Pong.rank }}</p>

        <p>Games Played</p>
        <p>{{ user.Pong.games_played }}</p>

        <p>Winrate</p>
        <p>{{ user.Pong.winrate }}</p>

        <p>Max Exchange</p>
        <p>{{ user.Pong.max_exchange }}</p>
    </div>

    
</div>