<div class="container">
    <h1>Registration</h1>
    <br>
    <form class="registerform" method="POST" hx-encoding="multipart/form-data" hx-post="{{request.path}}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
    {% csrf_token %}
    {% for field in form %}
    <span>
        {{ field.label_tag }} {{ field }}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    </span>
    {% endfor %}
    <input class="registration_submit" type="submit" value="Register">
    </form>
</div>