<div class="container">
    <h1>Home Page</h1>
    {% if user.is_authenticated %}
    <p>coucou {{ request.user }} <a hx-get="{% url 'logout' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" title="Logout">se deconecter</a> </p>
    {% else %}
    <p>connecte toi </p>
    <form hx-post="{{request.path}}?next={{next_url}}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="LOG IN">
    </form>
    <p> or <a hx-get="{% url 'register' %}" hx-push-url="true" hx-target="#page" hx-swap="innerHTML" hx-indicator="#content-loader" title="Register">Register</a></p>
    {% endif %}
</div>