{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcendence</title>

</head>

<body>
    <nav>
        <a href="/" class="route">Home</a>
        <a href="/game/" class="route">Game</a>
        <a href="/chat/" class="route">Chat</a>
        <a href="/profile/" class="route">Profile</a>
    </nav>
    
    <div id="page"></div>
    <script src="{% static 'home.js' %}"></script>
    <script src="{% static 'game.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>